@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-blue: #004AAD;
    --primary-white: #FFFFFF;
    --secondary-gray: #F4F4F4;
    --text-black: #333333;
    --accent-yellow: #FFD700;
}

body {
  @apply bg-custom-beige text-text-black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-field {
  text-indent: 5px;
}